#a1{
position: fixed;
background-color:rgb(145, 197, 240);
width: 100%;
bottom: 0px;
  left: 0px;
display:inline-block;
zoom:1;
border-bottom:0px solid #fff;
margin-left:auto;
}


#a1 ul{
margin:0;
padding:0;
list-style-type:none;
font-size: 11px;
line-height:65px;
letter-spacing:1px;
}

#a1 li{
background-image:url(img/nav1.jpg);
float:left;
width:49.7%;
text-align:center;
margin:0;
padding:0;
border-right:solid 0.1px #78b5d8;
}
#b1{
position: fixed;
background-color:rgb(145, 197, 240);
width: 100%;
top: 0px;
left: 0px;
display:inline-block;
zoom:1;
border-bottom:0px solid #fff;
margin-left:auto;
}


#b1 ul{
margin:0;
padding:0;
list-style-type:none;
font-size: 11px;
line-height:65px;
letter-spacing:1px;
}

#b1 li{
background-image:url(img/nav1.jpg);
float:left;
width:33%;
line-height: 3.2em;
text-align:center;
margin:0;
padding:0;
border-right:solid 0.1px #78b5d8;
}